myhostname = {{ postfix_hostname }}
mydestination = {{ postfix_mydestination }}
mynetworks_style = host
relayhost = [{{ postfix_relayhost }}]:{{ postfix_relayhost_port }}
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = static:{{ postfix_sasl_user }}@{{ postfix_sasl_domain }}:{{ postfix_sasl_password }}
smtp_sasl_security_options = noanonymous

inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{ postfix_inet_protocols }}

{% if postfix_default_transport is defined %}
default_transport = {{ postfix_default_transport }}
{% endif %}

{% if postfix_tls_support == "yes" %}
# TLS support
smtp_tls_security_level = may
smtpd_tls_security_level = may
smtp_tls_note_starttls_offer = yes

smtpd_tls_key_file = {{ postfix_tls_key_file }}
smtpd_tls_cert_file = {{ postfix_tls_cert_file }}
smtpd_tls_CApath = /etc/ssl/certs
{% endif %}
